.main-wrapper{
    background: #2c2b39;
    height:100vh;
    width: 87%;
    margin-left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}html{
     overflow: hidden;
 }