@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,300;1,900&display=swap');
.main-wrapper{
    background-image: url("background.jpg");
    height: 92.5vh;
    width: 87%;
    margin-left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 4.5rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Roboto', sans-serif;
}