<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-grayish"></i>Hypertension MK
                    </h6>
                    <p>
                        Platform to help others learn about the fundamentals of Hypertension, we offer courses and many more!
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a th:href="@{/home}" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a th:href="@{/contact}" class="text-reset">Contact</a>
                    </p>
                    <p>
                        <a th:href="@{/register}"><button type="button" class="btn btn-danger">Register</button></a>
                    </p>
                    <p>
                        <a th:href="@{/login}"><button type="button" class="btn btn-primary">Login</button></a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-grayish"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-grayish"></i> hypertensionmk@yahoo.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-grayish"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3 text-grayish"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://finki.ukim.mk/">FINKI.UKIM.MK</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->